*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", "sans-serif";
    font-size: 32px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(222, 26%, 31%);
}

.topcalc{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.topcalc h1{
    margin-right: 10.3rem;
}

.topcalc label{
    font-size: 0.3rem;
    top: 0;
    left: 0;
    transform: translate(450%, -180%);

}

.topcalc span{
    margin-right: 0.2rem;     /*falta alinhar*/
    font-size: 0.3rem;
}

.topcalc input[type='range']{ /*estilo do botão range*/
    width: 2rem;
    padding: 0.1rem;
    -webkit-appearance: none; /* remove a aparencia padão */
    appearance: none;
    background-color: hsl(223, 31%, 20%);
    border-radius: 1rem;
    cursor: pointer;
}

#campo::-webkit-slider-thumb{ /* estilo do cursor do tipo range*/
    -webkit-appearance: none; /* remove a aparencia padão */
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(170, 43, 43);
}
.result{
    background:hsl(224, 36%, 15%);
    width: 14.7rem;
    height: 1rem;
    margin: 0.1rem;
    font-size: 1.9rem;
    color: hsl(0, 0%, 100%);
    text-align: right;
    padding: 1.5rem 0.4rem 1rem 0.4rem;
    border-radius: 0.2rem;
}

.group-num{
    width: 14.5rem;
    height: 13rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    background-color: hsl(223, 31%, 20%);
    border-radius: 0.2rem;
    padding: 0.5rem;


}

.num{
    width: 3rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.3rem;
    background-color: hsl(0, 23%, 97%);
    border: none;
    color: hsl(223, 31%, 20%);
}

.del{
    width: 3rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.3rem;
    background-color: hsl(222, 26%, 31%);
    border: none;
    color: hsl(0, 23%, 97%);
}

.reset{
    width: 6.8rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.1rem;
    background-color: hsl(222, 26%, 31%);
    border: none;
    color: hsl(0, 23%, 97%);
    margin-left: 0.3rem;
}

.equal{
    width: 6.8rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.1rem;
    background-color: hsl(6, 63%, 50%);
    border: none;
    color: hsl(0, 23%, 97%);
    margin-left: 0.3rem;
}